@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{
    background-color: #B7C9CC;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}

header{
    background-color: black;
    color: white;
    padding: 20px;
}

.box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

aside{
    padding: 5px;
    width: 300px;

}

.ranking-team{
    padding: 0;
}

.ranking li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ranking-team h3{
    font-size: medium;
    margin: 0;
}

.ranking-team span{
    font-size:small;
    font-weight: lighter;
}

.ranking-ballons{
    display: flex;
}

main {
    width: 800px;
 }

main li{
    padding: 20px;
    list-style: none;
}

main li.box{
    display: flex;
    justify-content: space-between;
}

.problem-action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container{
    display: flex;
}

button{
    font-size: large;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
}

button:hover{
    border-bottom: solid #666 3px;
}

button.primary {
    background-color: #1BA94C;
    color: white;
}

button.desabled{
    background-color: white;
    color: #1ba94c;
    border: solid #1ba94c 2px;
}

i.ballon{
    align-self: flex-end;
    width: 48px;
    height: 48px;
    border: 0;
}

i.ballon-red{
    background: url(../img/balloon_red.png) no-repeat;
}

i.ballon-blue{
    background: url(../img/balloon_blue.png) no-repeat;
}

i.ballon-purple{
    background: url(../img/balloon_purple.png) no-repeat;
}

i.ballon-yellow{
    background: url(../img/balloon_yellow.png) no-repeat;
}

i.ballon-green{
    background: url(../img/balloon_green.png) no-repeat;
}

i.off{
    filter: opacity(30%);
}



